MONGODB_URL=mongodb_connection_string

ADMIN_FULL_NAME=Security Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=123456

ORGANIZATION_NAME=PhishGuard Demo
ORGANIZATION_INDUSTRY=Technology

SMTP_USER=your_brevo_smtp_username
SMTP_PASS=your_brevo_smtp_key
SENDER_EMAIL=your_verified_sender@example.com

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000
